@font-face {
    font-family: DinProRegular;
    src: url('../Fonts/DINPro-Regular.otf');
}

@font-face {
    font-family: DinProLight;
    src: url('../Fonts/DINPro-Light.otf');
}

@font-face {
    font-family: DinProBold;
    src: url('../Fonts/DINPro-Bold.otf');
    font-weight: 600;
}

@font-face {
    font-family: BebasNeueRegular;
    src: url('../Fonts/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: BebasNeueBold;
    src: url('../Fonts/BebasNeue-Bold.ttf');
}